{{!-- <h1>Create a new cushion here!</h1>

<div class="container">
{{!--  
<div class="chart" id="chart" style="width:100%; height:400px;"></div>
 --}}
  <div>
  {{#each cushions}}
    <p>{{this.count}}</p>
  {{/each}}
  </div>

{{!-- <div>
  {{#each facilities}}
    <p>{{this.location}}</p>
  {{/each}}
</div> --}}
 
{{!--   <div class="row">
    <div class="col-md-6">
      <div class="input-group">
        <span class="input-group-addon">@</span>
        <input type="text" class="form-control cushion" id="scan-number" placeholder="Scanner Number"  aria-describedby="sizing-addon2">
      </div>
      <div class="input-group">
        <span class="input-group-addon">@</span>
        <input type="text" class="form-control cushion"  id="location" placeholder="Facility Location"  aria-describedby="sizing-addon2">
      </div> --}}
{{!--       <div class="input-group">
        <span class="input-group-addon">@</span>
        <input type="text" class="form-control cushion"  id="facility-id" placeholder="Facility ID"  aria-describedby="sizing-addon2">
      </div> --}}

{{!-- 
<select name="facility">
  {{#each facilities}}
    <option class="facility-id" value="{{this.id}}">{{this.location}}</option>
  {{/each}}
</select>

      <button type="button" class="btn btn-primary submit">Add Cushion</button>

      <div class="input-group">
        <span class="input-group-addon">@</span>
        <input type="text" class="form-control edit" id="edit-scan-number" placeholder="Scanner Number"  aria-describedby="sizing-addon2">
      </div>
      <button type="button" class="btn btn-primary update">Update Cushion</button>

    </div>
  </div>

  <div class="row">
  <div class="col-md-6 m-b-md">
    <div class="list-group">
      <h4 class="list-group-header">
        Facilities
      </h4>
      
        <a class="list-group-item" href="#">
          <span class="list-group-progress" style="width: 62.4%;"></span>
          <span class="pull-right text-muted">62.4%</span>
          Heartland - Cone Hospital
        </a>
      
        <a class="list-group-item" href="#">
          <span class="list-group-progress" style="width: 15.0%;"></span>
          <span class="pull-right text-muted">15.0%</span>
          Winston Salem Health and Rehab
        </a>
      
        <a class="list-group-item" href="#">
          <span class="list-group-progress" style="width: 5.0%;"></span>
          <span class="pull-right text-muted">5.0%</span>
          Countryside Manor
        </a>
      
        <a class="list-group-item" href="#">
          <span class="list-group-progress" style="width: 5.0%;"></span>
          <span class="pull-right text-muted">5.0%</span>
          Graybrier Health and Rehab
        </a>
      
        <a class="list-group-item" href="#">
          <span class="list-group-progress" style="width: 4.5%;"></span>
          <span class="pull-right text-muted">4.5%</span>
          Shannon Gray Health and Rehab
        </a>
      
        <a class="list-group-item" href="#">
          <span class="list-group-progress" style="width: 2.3%;"></span>
          <span class="pull-right text-muted">2.3%</span>
          Mexico
        </a>
      
        <a class="list-group-item" href="#">
          <span class="list-group-progress" style="width: 1.7%;"></span>
          <span class="pull-right text-muted">1.7%</span>
          Spain
        </a>
      
        <a class="list-group-item" href="#">
          <span class="list-group-progress" style="width: 1.5%;"></span>
          <span class="pull-right text-muted">1.5%</span>
          France
        </a>
      
        <a class="list-group-item" href="#">
          <span class="list-group-progress" style="width: 1.4%;"></span>
          <span class="pull-right text-muted">1.4%</span>
          South Africa
        </a>
      
        <a class="list-group-item" href="#">
          <span class="list-group-progress" style="width: 1.2%;"></span>
          <span class="pull-right text-muted">1.2%</span>
          Japan
        </a>
</div> --}}


     <div class="col-sm-9 content">
        <div class="dashhead">
  <div class="dashhead-titles">
    <h6 class="dashhead-subtitle">Dashboards</h6>
    <h2 class="dashhead-title">Order history</h2>
  </div>

  <div class="btn-toolbar dashhead-toolbar">
    <div class="btn-toolbar-item input-with-icon">
      <input type="text" value="01/01/15 - 01/08/15" class="form-control" data-provide="datepicker">
      <span class="icon icon-calendar"></span>
    </div>
  </div>
</div>

<div class="flextable table-actions">
  <div class="flextable-item flextable-primary">
    <div class="btn-toolbar-item input-with-icon">
      <input type="text" class="form-control input-block" placeholder="Search orders">
      <span class="icon icon-magnifying-glass"></span>
    </div>
  </div>
  <div class="flextable-item">
    <div class="btn-group">
      <button type="button" class="btn btn-primary-outline">
        <span class="icon icon-pencil"></span>
      </button>
      <button type="button" class="btn btn-primary-outline">
        <span class="icon icon-erase"></span>
      </button>
    </div>
  </div>
</div>

<div class="table-full">
  <div class="table-responsive">
    <table class="table" data-sort="table">
      <thead>
        <tr>
          <th><input type="checkbox" class="select-all" id="selectAll"></th>
          <th>Facility Number</th>
          <th>Facility Name</th>
          <th>Description</th>
          <th>Total Cushions</th>
        </tr>
      </thead>
      <tbody>
        {{#each facilities}}
        <tr>
          <td><input type="checkbox" class="select-row"></td>
          <td><a href="#">{{this.id}}</a></td>
          <td>{{this.id}}</td>
          <td>This is a great hospital</td>
        {{/each}}
          <td>{{facilitiesCount.count}}</td>
        </tr>
        <tr>
          <td><input type="checkbox" class="select-row"></td>
          <td><a href="#">#10002</a></td>
          <td>Firstname Lastname</td>
          <td>Admin theme</td>
          <td>$100.00</td>
        </tr>
        <tr>
          <td><input type="checkbox" class="select-row"></td>
          <td><a href="#">#10003</a></td>
          <td>Name Another</td>
          <td>Personal blog theme</td>
          <td>$100.00</td>
        </tr>
        <tr>
          <td><input type="checkbox" class="select-row"></td>
          <td><a href="#">#10004</a></td>
          <td>One More</td>
          <td>Marketing theme, personal blog theme, admin theme</td>
          <td>$300.00</td>
        </tr>
        <tr>
          <td><input type="checkbox" class="select-row"></td>
          <td><a href="#">#10005</a></td>
          <td>Name Right Here</td>
          <td>Personal blog theme, admin theme</td>
          <td>$200.00</td>
        </tr>
        <tr>
          <td><input type="checkbox" class="select-row"></td>
          <td><a href="#">#10006</a></td>
          <td>First Last</td>
          <td>Admin theme, marketing theme</td>
          <td>$200.00</td>
        </tr>
        <tr>
          <td><input type="checkbox" class="select-row"></td>
          <td><a href="#">#10007</a></td>
          <td>Firstname Lastname</td>
          <td>Admin theme</td>
          <td>$100.00</td>
        </tr>
        <tr>
          <td><input type="checkbox" class="select-row"></td>
          <td><a href="#">#10008</a></td>
          <td>Name Another</td>
          <td>Personal blog theme</td>
          <td>$100.00</td>
        </tr>
        <tr>
          <td><input type="checkbox" class="select-row"></td>
          <td><a href="#">#10009</a></td>
          <td>One More</td>
          <td>Marketing theme, personal blog theme, admin theme</td>
          <td>$300.00</td>
        </tr>
        <tr>
          <td><input type="checkbox" class="select-row"></td>
          <td><a href="#">#10010</a></td>
          <td>Name Right Here</td>
          <td>Personal blog theme, admin theme</td>
          <td>$200.00</td>
        </tr>
        <tr>
          <td><input type="checkbox" class="select-row"></td>
          <td><a href="#">#10011</a></td>
          <td>First Last</td>
          <td>Admin theme, marketing theme</td>
          <td>$200.00</td>
        </tr>
        <tr>
          <td><input type="checkbox" class="select-row"></td>
          <td><a href="#">#10012</a></td>
          <td>Firstname Lastname</td>
          <td>Admin theme</td>
          <td>$100.00</td>
        </tr>
        <tr>
          <td><input type="checkbox" class="select-row"></td>
          <td><a href="#">#10013</a></td>
          <td>Name Another</td>
          <td>Personal blog theme</td>
          <td>$100.00</td>
        </tr>
        <tr>
          <td><input type="checkbox" class="select-row"></td>
          <td><a href="#">#10014</a></td>
          <td>One More</td>
          <td>Marketing theme, personal blog theme, admin theme</td>
          <td>$300.00</td>
        </tr>
        <tr>
          <td><input type="checkbox" class="select-row"></td>
          <td><a href="#">#10015</a></td>
          <td>Name Right Here</td>
          <td>Personal blog theme, admin theme</td>
          <td>$200.00</td>
        </tr>
        <tr>
          <td><input type="checkbox" class="select-row"></td>
          <td><a href="#">#10016</a></td>
          <td>First Last</td>
          <td>Admin theme, marketing theme</td>
          <td>$200.00</td>
        </tr>
        <tr>
          <td><input type="checkbox" class="select-row"></td>
          <td><a href="#">#10017</a></td>
          <td>Firstname Lastname</td>
          <td>Admin theme</td>
          <td>$100.00</td>
        </tr>
        <tr>
          <td><input type="checkbox" class="select-row"></td>
          <td><a href="#">#10018</a></td>
          <td>Name Another</td>
          <td>Personal blog theme</td>
          <td>$100.00</td>
        </tr>
        <tr>
          <td><input type="checkbox" class="select-row"></td>
          <td><a href="#">#10019</a></td>
          <td>One More</td>
          <td>Marketing theme, personal blog theme, admin theme</td>
          <td>$300.00</td>
        </tr>
        <tr>
          <td><input type="checkbox" class="select-row"></td>
          <td><a href="#">#10020</a></td>
          <td>Name Right Here</td>
          <td>Personal blog theme, admin theme</td>
          <td>$200.00</td>
      </tbody>
    </table>
  </div>
</div>

  <div class="row">
    <div class="col-md-6">
      <div class="input-group">
        <span class="input-group-addon">@</span>
        <input type="text" class="form-control cushion" id="scan-number" placeholder="Scanner Number"  aria-describedby="sizing-addon2">
      </div>


<select id="facilitySelect" name="facility">
  {{#each facilities}}
    <option class="facility-id" value="{{this.id}}">{{this.location}}</option>
  {{/each}}
</select>

      <button type="button" class="btn btn-primary submit">Add Cushion</button>



        <script
  src="https://code.jquery.com/jquery-3.2.1.js"
  integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
  crossorigin="anonymous"></script>
  
    <script src="Javascript/cushion.js"></script>
    <script src="Javascript/facilities.js"></script>

        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script> <!--where you put the high charts library -->
    <script src="/Javascript/cushion.js" type="text/javascript"></script>
    <script src="/Javascript/facilities.js" type="text/javascript"></script>
    <script src="/Javascript/home.js" type="text/javascript"></script>
    <script src="/Javascript/dummyData.js" type="text/javascript"></script>


    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/chart.js"></script>
    <script src="assets/js/tablesorter.min.js"></script>
    <script src="assets/js/toolkit.js"></script>
    <script src="assets/js/application.js"></script>
    <script>
