<div class="container">
    <div class="row">
        <div class="col-sm-3 sidebar">
            <nav class="sidebar-nav">
                <div class="sidebar-header">
                    <button class="nav-toggler nav-toggler-sm sidebar-toggler" type="button" data-toggle="collapse" data-target="#nav-toggleable-sm">
                    <span class="sr-only">Toggle nav</span>
                  </button>
                    <a class="sidebar-brand img-responsive" href="index.html">
                  </a>
                </div>
                <ul class="nav nav-pills nav-stacked">
                    <li>
                        <a href="/home">Overview</a>
                    </li>
                    <li class="active">
                        <a href="/new-cushion">Cushions</a>
                    </li>
                    <li>
                        <a href="/facilities">Facilities</a>
                    </li>
                </ul>
                <hr class="visible-xs m-t">
                <hr>

                <div class="flextable table-actions">
                    <div class="flextable-item flextable-primary">
                        <div class="btn-toolbar-item input-with-icon">
                            <select id="facilitySelect" name="facility">
      <option selected disabled>Select a Facility</option>
    {{#each facilities}}
      <option class="facility-id" value="{{this.id}}">{{this.location}}</option>
    {{/each}}
  </select>
                            <br>
                            <br>
                            <input type="text" class="form-control cushion" id="scan-number" placeholder="Enter Cushion Spring Rate" aria-describedby="sizing-addon2">
                            <br>
                            <button type="button" class="btn btn-primary submit">Add Cushion</button>
                        </div>

                    </div>
            </nav>
            </div>

            <div class="col-sm-9 content">
                <div class="dashhead">
                    <div class="dashhead-titles">
                        <h2 class="dashhead-title">Active Facilities</h2>
                    </div>

                </div>

                <div class="flextable table-actions">
                    <div class="flextable-item flextable-primary">
                        <div class="btn-toolbar-item input-with-icon">
                        </div>
                    </div>
                    <div class="flextable-item">
                    </div>
                </div>

                <div class="table-full">
                    <div class="table-responsive">
                        <table class="table" data-sort="table">
                            <thead>
                                <tr>
                                    <th>Facility Number</th>
                                    <th>Facility Name</th>
                                    <th>Description</th>
                                    <th>Total Cushions</th>
                                </tr>
                            </thead>
                            <tbody>

                                {{#each facilities}}
                                <tr>
                                    <td><a class="graphs" href="/facilities?tagId={{dataValues.id}}">#{{dataValues.id}}</a></td>
                                    <td>{{dataValues.location}}</td>
                                    <td>This is a great hospital</td>
                                    <td>{{dataValues.count}}</td>
                                </tr>
                                {{/each}}

                            </tbody>
                        </table>
                    </div>
                </div>



                <script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>

                <script src="Javascript/cushion.js"></script>
                <script src="Javascript/facilities.js"></script>

                <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
                <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
                <script src="https://code.highcharts.com/highcharts.js"></script>
                <!--where you put the high charts library -->
                <script src="/Javascript/home.js" type="text/javascript"></script>
                <script src="/Javascript/dummyData.js" type="text/javascript"></script>


                <script src="assets/js/jquery.min.js"></script>
                <script src="assets/js/chart.js"></script>
                <script src="assets/js/tablesorter.min.js"></script>
                <script src="assets/js/toolkit.js"></script>
                <script src="assets/js/application.js"></script>
                <script>